.hero {
  color: $color-hero-primary;
  background-color: $bg-color-footer;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__overlay {
  margin: 0 auto;
  max-width: 1600px;
  // height: 600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);

  @extend %background;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
